
<%= render 'admin/users/admin_header' %>

<div class="container">
  <div class="row">
    <div>
      <h2>アルバム一覧</h2>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>アルバム名</th>
            <th>作成日時</th>
            <th>詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @albums.each do |album| %>
            <tr>
              <td><%= album.album_name %></td>
              <td><%= album.created_at %></td>
              <td><%= link_to "詳細", admin_album_path(album.id), class: "btn btn-default" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>