// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*ユーザー詳細ページ*/

.user_show_title {
  position: relative;
  border-bottom: 2px dashed #9e9e9e;
}
.user_show_title_btn {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.new_album_box {
  margin: 10px 0;
  padding: 15px;
  border-bottom: 2px dashed #9e9e9e;
}
.new_album_box_title {
  position: relative;
}
.new_album_box_title strong {
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
.user_albums {
  margin: 10px 0;
  padding: 15px;
}
.user_albums_title {
  position: relative;
}
.user_albums_title strong {
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
.user_album_box{
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
}
.user_album_box1 {

}
.user_album_box2 {

}


.user_album_box {
  list-style: none;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 18px;
  height: 110px;
}
.album_box:first-child {
  float: left;
  text-align: right;
  width: 18%;
}
.album_box:nth-child(2) {
  float: left;
  text-align: left;
  margin-left: 15px;
}
.user_album_box a {
  float: right;
  bottom: 0;
}

/*ーーーーーーーーーーーーーーーーーー*/
/*新規登録・ログイン・編集*/
.sign_box {
  width: 450px;
  margin: 0 auto;
  background-color: white;
}
.sign_box_line {
  margin: 10px;
  border: 2px dashed #9a9a9a;
  padding: 10px;
}
.sign_box_title {
  background-color: #eaeaea;
  padding: 20px 0;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}
.sign_box_title h2 {
  margin: 0;
}
.sign_box_body {

}
.sign_form {

}
.sign_form .field {
  margin-bottom: 10px;
}
.sign_btn {
  margin: 10px;
}


/*ーーーーーーーーーーーーーーーーーー*/


/*ユーザー情報編集ページ*/

.panel {
  margin-top: 20px;
}








/*ーーーーーーーーーーーーーーーーーー*/




